@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-bar">
            <h2>DocxPreview.Blazor Demo</h2>
        </div>
        <div class="content">
            @Body
        </div>
    </main>
</div>
